html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

a{
    color: inherit;
}

button{
    cursor: pointer;
    outline:none;
    font-weight: 300;
    background-color: #1dce94;
    border: none;
    border-radius: 500px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }

    &:active{
        background-color: #cbcbcb;
    }
}

body {
  padding-top: 10vh;
}

.chat-wrapper {
  height: 60vh;
  overflow: auto;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;

    .chat-body p {
      margin: 0;
      color: #777777;
    }
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}